/*#region header  */
.main-container .main-header {
  background: #1c1c1c;
  color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}
.main-container .main-header .main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem 0rem 1rem;
}
.main-container .main-header .main-nav .right-side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.main-container .main-header .main-nav .right-side #hamburger {
  display: block;
}
.main-container .main-header .main-nav .right-side #hamburger .bar {
  display: block;
  margin: 4px 10px;
  width: 23px;
  height: 8px;
  background: #fff;
  border-radius: 8px;
}
.main-container .main-header .main-nav .right-side .basket-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.main-container .main-header .main-nav .right-side .basket-container img {
  width: 10vw;
  filter: invert(100);
  padding-top: 0.1rem;
}

/*#endregion header  */
/*#region app  */
#app {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*#region loading  */
@-webkit-keyframes loadingSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loadingSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#app .loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#app .loading-container .loading {
  display: block;
  border: 10px solid #777;
  padding: 7rem;
  border-radius: 50%;
  border-top: 10px solid lightblue;
  -webkit-animation: loadingSpin 1s infinite ease-in-out;
          animation: loadingSpin 1s infinite ease-in-out;
}

/*#endregion loading  */
/*#region sidebar */
#app #sidebar {
  display: none;
}

#app #sidebar.show-sidebar {
  display: block;
  z-index: 999;
  position: fixed;
  top: 60%;
  left: 49.99%;
  transform: translate(-50%, -50%);
  background: rgba(28, 28, 28, 0.6);
  width: 100%;
  height: 100%;
  color: #fff;
}
#app #sidebar.show-sidebar .sidebar-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#app #sidebar.show-sidebar .sidebar-nav ul {
  margin: 0;
  padding: 0;
}
#app #sidebar.show-sidebar .sidebar-nav li {
  list-style-type: none;
}
#app #sidebar.show-sidebar .sidebar-nav li button {
  border: 0;
  background: transparent;
  font-size: 24px;
  color: #fff;
  text-transform: capitalize;
  padding: 0.2rem 0.4rem;
}
#app #sidebar.show-sidebar .sidebar-nav .top-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 0rem 0.6rem 0rem;
  background: #1c1c1c;
  width: 100%;
}
#app #sidebar.show-sidebar .sidebar-nav .top-nav button {
  border: 0;
  background: transparent;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
}
#app #sidebar.show-sidebar .sidebar-nav .searchbar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #1c1c1c;
  margin-bottom: 1rem;
  padding: 0.4rem 0rem;
}
#app #sidebar.show-sidebar .sidebar-nav .searchbar-container #searchbar {
  border: 0;
  border-radius: 12px;
  padding: 0.3rem 0.6rem;
}
#app #sidebar.show-sidebar .sidebar-nav .searchbar-container .search-result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  overflow-y: scroll;
}
#app #sidebar.show-sidebar .sidebar-nav .searchbar-container .search-result-container figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#app #sidebar.show-sidebar .sidebar-nav .searchbar-container .search-result-container figure img {
  width: 20vw;
}
#app #sidebar.show-sidebar .sidebar-nav .searchbar-container .search-result-container .search-result-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#app #sidebar.show-sidebar .sidebar-nav .searchbar-container .search-result-container .search-result-category .sub-category-container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
#app #sidebar.show-sidebar .sidebar-nav .categories-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
#app #sidebar.show-sidebar .sidebar-nav .categories-nav .sup-category li {
  font-size: 23px;
}

/*#endregion sidebar */
#app .toastbar {
  display: none;
}

#app .toastbar.hide-toastbar,
#app .toastbar-update.hide-toastbar {
  display: block;
  background-color: #1c1c1c;
  color: #fff;
  padding: 0.1rem 0.3rem;
  border-radius: 11px;
  width: 40vw;
  text-align: center;
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 0.4rem;
}

/*#region product cards  */
#app .back-btn-container {
  position: absolute;
  top: 11%;
  left: 0.6%;
  background: #eeeeee;
  border-radius: 9px;
  z-index: 88;
}
#app .back-btn-container button {
  padding: 0;
  padding: 0.1rem 0.2rem;
  margin-bottom: 0.3rem;
  background: transparent;
  border: 0;
  font-size: 30px;
  text-align: center;
}

/*#region featured product cards  */
#app .product-card,
#app .product-detail-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 7px;
  padding: 0rem 0.7rem 0rem 0.7rem;
}
#app .product-card .product-name,
#app .product-detail-card .product-name {
  text-align: center;
  border-bottom: 2px solid #000;
  margin-bottom: 0.5rem;
  width: 110%;
}
#app .product-card .product-thumbnail,
#app .product-detail-card .product-thumbnail {
  width: 100%;
}
#app .product-card .about-product .ratings-container,
#app .product-detail-card .about-product .ratings-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}
#app .product-card .about-product .ratings-container p:last-of-type,
#app .product-detail-card .about-product .ratings-container p:last-of-type {
  padding-bottom: 0.1rem;
}
#app .product-card .about-product .ratings-container .stars-container,
#app .product-detail-card .about-product .ratings-container .stars-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
#app .product-card .about-product .ratings-container .stars-container p:last-of-type,
#app .product-detail-card .about-product .ratings-container .stars-container p:last-of-type {
  padding-bottom: 0.3rem;
  color: yellow;
}
#app .product-card .about-product .button-container,
#app .product-detail-card .about-product .button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#app .product-card .about-product .button-container button,
#app .product-detail-card .about-product .button-container button {
  border: 0;
  background: green;
  padding: 0.6rem 0.9rem;
  border-radius: 10px;
  text-transform: capitalize;
}
#app .product-card .about-product .product-description h4,
#app .product-detail-card .about-product .product-description h4 {
  max-width: 300px;
  word-break: break-all;
}
#app .product-card .about-product .product-description p,
#app .product-detail-card .about-product .product-description p {
  text-align: right;
}
#app .product-card .about-product .product-description .low-stock,
#app .product-detail-card .about-product .product-description .low-stock {
  color: #bb1100;
}

/*#endregion featured product cards  */
/*#region detailed product card  */
#app .product-detail-card .about-product .product-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  margin: 0.8rem 0.8rem 0rem 0.8rem;
}
#app .product-detail-card .about-product .product-images img {
  max-width: 50px;
  width: 14vw;
  height: auto;
}

/*#endregion detailed product card  */
/*#endregion product cards  */
/*#region category cards  */
#app .category-container,
#app .sup-categories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;
}
#app .category-container header,
#app .sup-categories-container header {
  border-bottom: 2px solid #000;
}
#app .category-container button,
#app .sup-categories-container button {
  border: 0;
  background: transparent;
  font-size: 24px;
  text-transform: capitalize;
  background: rgba(119, 119, 119, 0.1333333333);
  padding: 0.2rem 0.4rem;
}

/*#endregion category cards  */
#app .filled-container header img {
  width: 10vw;
}

/*#endregion app  */
/*#region footer*/
.main-footer {
  background: #1c1c1c;
  width: 100%;
  height: 100%;
  color: #fff;
}
.main-footer header h2 {
  text-align: center;
}
.main-footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.main-footer div ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.main-footer div ul li {
  list-style-type: none;
}
.main-footer .social-media .SoMe-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.main-footer .social-media .SoMe-icons img {
  width: 10vw;
}
.main-footer .social-media .SoMe-icons img:nth-child(-n+2) {
  filter: invert(100);
}

/*#endregion footer*//*# sourceMappingURL=style.css.map */